/* http://uigradients.com/ */
.portfolio-blog-card-event-bg {
  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mdl-card__title-text{
  font-size: 20px;
}
