// http://webdesign.tutsplus.com/tutorials/learning-material-design-lite-cards--cms-24633

.mdl-grid {
	max-width: 100%;
	margin: auto;

	.mdl-cell{
		max-width: 20%;
	}

	.mdl-card {
	  padding-bottom: 30px;

		.foo {
			color: #FFFFFF;
    	text-decoration: none;
		}

		.mdl-card__media {
			margin: 0;
		}

		.mdl-card__media > img {
			max-width: 100%;
		}

		.mdl-card__actions {
			display: flex;
			box-sizing:border-box;
			align-items: center;
			position: absolute;
		  bottom: 0px;
		}

		.mdl-card__actions > .mdl-button--icon {
			margin-right: 3px;
			margin-left: 3px;
		}
	}

	.demo-content {
	   padding-top: 10px;
	   padding-bottom: 10px;
	   padding-right:10px;
	   padding-left: 10px;
	}

	.portfolio-card {
	   padding-right:10px;
	   padding-left: 10px;
	   padding-bottom: -50px; /* to undo padding for project description */
	}
}
