/*
 * Change the layout__content class to Flex (instead of inline-block) to allow
 * spacer to work.
 */
.mdl-layout__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* Contains formatting for edit on github pages.
 * Example taken from Facebook React. */

.edit-page-link {
  float: right;
  font-size: 16px;
}

.right {
  float: right;
  text-align: right;
}

.sponsor-img {
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
   -moz-transform: scale(0.5); /* FF3.5+ */
    -ms-transform: scale(0.5); /* IE9 */
     -o-transform: scale(0.5); /* Opera 10.5+ */
        transform: scale(0.5);
           /* IE6–IE */
           filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}
