.dated-entry {
	margin-bottom: 30px;
}

.dated-entry .date {
	color: #989898;
	font-size: 85%;
	letter-spacing: 1px;
	float: left;
	width: 10px;
	margin: 0 auto 0 0;
	line-height:15px;
}

.dated-entry .dated-event {
	width: 90%;
	margin: 0 0 0 auto;
	padding-left: 15px;
	border-left: rgba(0,0,0,0.12) 1px solid;
}