---
layout: frontpage
---
<div class="home">
  <h1 class="page-heading">News</h1>
  <ul>
  {% for item in site.news %}
    <li><a href="{{ item.url }}">{{ item.title }}</a> 
       {% if item.location %} 
           ({{ item.location }}) 
       {% endif %} 
    </li> 
  {% endfor %}
  </ul>

  <h1 class="page-heading">Events</h1>
  <ul>
  {% for item in site.events %}
     <li>
       <a href="{{ item.date }}">{{ item.title }}</a> 
         {% if item.location %} 
             ({{ item.location }}) 
         {% endif %}
     </li>
  {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

