<div class="banner-background" id="dashboard">
  <div>
    <div class="inner-content">
        <img src="/assets/images/Banner/UCSC_engineering_buildings.jpg"></img>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-typography--display-2 mdl-color-text--grey-800" style="font-weight: 400; padding-top: 30px !important;" align="center">The Systems Research Lab</div>
        <br><br>
        <div class="banner-text-main" style="padding-left: 30px; padding-right: 30px;">
          <p>Part of the Jack Baskin School of Engineering at the <a href="http://ucsc.edu"> University of California, Santa Cruz</a>, the Systems Research Lab (SRL) is interested in a broad range of topics including real-time systems, performance management, and large-scale storage systems. We are particularly interested in the intersection of these topics, and in their application to problems requiring inter-disciplinary collaboration. The SRL is composed of a broad range of students and collaborators from industry, government research labs, and other universities.</p>
        </div>
    </div>
  </div>

  <div>
    <div class="inner-content">
        <img src="/assets/images/Banner/oktoberfest2010.jpg"></img>
        <div class="mdl-typography--display-1 mdl-typography--font-thin format-content">SRL/ISSDM Oktoberfest 2009</div>
        Associate Director and Chef Carlos Maltzahn
    </div>
  </div>


  <div>
    <div class="inner-content">
        <img src="/assets/images/Banner/noah_and_joe.jpg"></img>
        <div class="mdl-typography--display-1 mdl-typography--font-thin format-content">ISSDM/SRL Graduate Students</div>
        Joe Buck & Noah Watkins

    </div>
  </div>

</div>
