<div class="drawer mdl-layout__drawer">
  <span class="mdl-layout-title"><img class="logo-image" src="/assets/images/Baskin_logo2.png"></span>
  <nav class="navigation mdl-navigation">
    <a class="mdl-navigation__link" href="{{ site.url }}"><i class="material-icons" role="presentation">home</i>Home</a>
    <a class="mdl-navigation__link" href="https://github.com/systemslab/systemslab.github.io/edit/master/{{page.path}}"><i class="material-icons" role="presentation">&#xE254;</i>Edit on GitHub</a>
    <div class="drawer-separator"></div>
    {% for page in site.pages %}
       {% if page.title %}
          <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">
            <i class="material-icons" role="presentation">{{page.icon}}</i>{{page.title}}
          </a>
       {% endif %}
    {% endfor %}
  </nav>
</div>
