<!-- Event card -->
{% assign sorted_events = site.events | sort: 'date' | reverse %}
{% for event in sorted_events %}
<div class="demo-card-event mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-card mdl-shadow--4dp portfolio-blog-card-event-bg mdl-color-text--grey">
  <div class="mdl-card__title">
		<h1 class="mdl-card__title-text">{{ event.name }}</h1>
  </div>
	  
  <div class="mdl-card__title mdl-card--expand">
  </div>
  
  <div class="mdl-card__supporting-text"> 
  <i class="material-icons md-12">alarm</i> {{ event.date | date: "%b %-d, %Y" }}<br>
  
  <i class="material-icons md-12">location_on</i> {{ event.location }} 

  </div>
  <br>
  <div class="mdl-card__actions mdl-card--border" align="left">
	  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ event.url }}"> <i class="material-icons md-18">event</i>Event Info</a>
  </div>
</div>
{% endfor %}

