<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <i class="material-icons md-12" role="presentation">&#xE409;</i>{{site.title}}
    <ul class="mdl-mini-footer__link-list">
      <li><a class="highlight" href="http://ucsc.edu/">UCSC Home</a></li>
      <li><a class="highlight" href="http://soe.ucsc.edu/">BSOE Home</a></li>
      <li><a class="highlight" href="http://issdm.soe.ucsc.edu/">ISSDM Home</a></li>
      <div class="edit_desktop">
        <li><a class="highlight" href="https://github.com/systemslab/systemslab.github.io/edit/master/{{page.path}}"><i class="material-icons md-12" role="presentation">&#xE254;</i>Edit on GitHub</a></li>
      </div>
    </ul>

  </div>

</footer>
