<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <!-- Title -->
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
            <div class="portfolio-logo" href="{{ site.baseurl }}"></div>
        </span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__header-row portfolio-navigation-row">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="{{ site.url }}"> Home </a>

            {% for my_page in site.pages %}
               {% if my_page.title %}
                  <a class="mdl-navigation__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
               {% endif %}
            {% endfor %}
        </nav>
    </div>
</header>
