{% assign sorted_news = site.news | sort: 'date' | reverse %}
{% for item in sorted_news %}
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp">
    <div class="mdl-card__media mdl-color-text--grey-50">
      <h3><a href="{{item.url}}">{{item.title}}</a></h3>
    </div>
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
      {{item.blurb}}
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div class="minilogo"></div>
      <div>
        {% if item.author %}
          <strong>{{item.author}}</strong>
        {% else %}
          <strong>SRL Team</strong>
        {% endif %}
        <span><time datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">{{ item.date | date: "%b %-d, %Y" }}</time></span>
      </div>
    </div>
  </div>
{% endfor %}
