{% for item in site.news %}
  <div class="demo-card-event mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp portfolio-blog-card-event-bg mdl-color-text--grey">
    <figure class="mdl-card__media">
      <img src="{{item.picture}}" alt="" />
    </figure>

    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">{{item.title}}</h1>
    </div>

    <div class="mdl-card__supporting-text">
      <p>{{item.blurb}}</p>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <a href="{{item.url}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read More</a>
    </div>
  </div>
{% endfor %}
