@charset "UTF-8";
/* material icons fonts */
/* line 3, ../sass/_main.scss */
.material-icons.md-12 {
  font-size: 12px;
}

/* line 4, ../sass/_main.scss */
.material-icons.md-18 {
  font-size: 18px;
}

/* line 5, ../sass/_main.scss */
.material-icons.md-24 {
  font-size: 24px;
}

/* line 6, ../sass/_main.scss */
.material-icons.md-36 {
  font-size: 36px;
}

/* line 7, ../sass/_main.scss */
.material-icons.md-48 {
  font-size: 48px;
}

/* line 9, ../sass/_main.scss */
.thin-border {
  margin-top: -15px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/* line 14, ../sass/_main.scss */
a {
  width: auto !important;
}

/* line 18, ../sass/_main.scss */
.vertical-line {
  border-left: rgba(0, 0, 0, 0.12) 1px solid;
  padding-right: 20px;
}

/*
 * Replace these with background-image: url('../../../images/pic.png')
 * if you want a picture instead of a gradient in the header.
 */
/* Resizes logo to fit in the navbar */
/* line 29, ../sass/_main.scss */
.site-logo {
  width: 230px;
  height: 36px;
}

/* Adds a gradient to this */
/* line 35, ../sass/_main.scss */
.mdl-layout__header {
  background: #525252;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #525252, #3d72b4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #525252, #3d72b4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* line 45, ../sass/_main.scss */
.is-small-screen .mdl-layout-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../sass/_main.scss */
.is-small-screen .edit_desktop {
  display: none;
}

/* line 55, ../sass/_main.scss */
.spacer {
  flex-grow: 1;
}

/* line 59, ../sass/_main.scss */
.description {
  font-size: 12px;
  text-indent: 10px;
  color: grey;
}

/* line 66, ../sass/_main.scss */
.descrip-title {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* highlight navbar on hover */
/* line 74, ../sass/_main.scss */
.highlight:hover {
  color: #37474f;
}

/* line 79, ../sass/_main.scss */
.active .text {
  color: #37474f;
}

/* line 84, ../sass/_main.scss */
.inactive-text {
  color: dark-grey;
}

/* slick carousel css */
/* line 90, ../sass/_main.scss */
.banner-background {
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 2px 2px #c3c3c3;
  -moz-box-shadow: 0px 2px 2px #c3c3c3;
  box-shadow: 0px 2px 2px #c3c3c3;
}

/* line 97, ../sass/_main.scss */
.inner-content {
  padding-right: 60px;
}
/* line 99, ../sass/_main.scss */
.inner-content .format-content {
  padding-top: 15px;
  margin-bottom: 15px;
}

/* line 107, ../sass/_main.scss */
.inner-content img {
  width: 720px;
  height: 340px;
  float: left;
  padding-right: 10px;
}

/* arrow keys  */
/* line 115, ../sass/_main.scss */
.slick-prev:before, .slick-next:before {
  color: grey !important;
}

/* line 119, ../sass/_main.scss */
.slick-next {
  margin-left: 10%;
  margin-right: 5%;
}

/* Makes images with the img-circle class into a circle
 * Also adds a Material Design-esque shadow to each profile picture
 * Source: https://codepen.io/sdthornton/pen/wBZdXq
 */
/* line 5, ../sass/_people.scss */
.img-circle {
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Align text below an image
 * Source: http://stackoverflow.com/questions/22592064/how-to-align-text-below-an-image-in-css
 */
/* line 13, ../sass/_people.scss */
.person {
  /* for borders */
}
/* line 14, ../sass/_people.scss */
.person div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}
/* line 20, ../sass/_people.scss */
.person img {
  width: 100px;
  height: 100px;
}
/* line 24, ../sass/_people.scss */
.person .caption {
  display: block;
}
/* line 27, ../sass/_people.scss */
.person .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
/* line 33, ../sass/_people.scss */
.person .section__text a {
  text-decoration: none;
}
/* line 38, ../sass/_people.scss */
.person .contact-border {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 0.5em solid;
}

/* line 1, ../sass/_card.scss */
.demo-card-event {
  padding-bottom: 30px;
}

/* line 6, ../sass/_card.scss */
.home .mdl-grid {
  max-width: 100%;
  margin: auto;
}
/* line 10, ../sass/_card.scss */
.home .mdl-grid .mdl-card .mdl-card__media {
  margin: 0;
}
/* line 13, ../sass/_card.scss */
.home .mdl-grid .mdl-card .mdl-card__media > img {
  max-width: 100%;
}
/* line 16, ../sass/_card.scss */
.home .mdl-grid .mdl-card .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
/* line 24, ../sass/_card.scss */
.home .mdl-grid .mdl-card .mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
/* line 30, ../sass/_card.scss */
.home .mdl-grid .demo-content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
/* line 38, ../sass/_card.scss */
.home .mdl-grid .portfolio-card {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: -50px;
  /* to undo padding for project description */
}

/* For cards on the project page */
/* line 49, ../sass/_card.scss */
.demo-card-square .mdl-card {
  width: 320px;
  height: 320px;
}

/* line 54, ../sass/_card.scss */
.demo-card-square > .mdl-card__title {
  color: #fff;
  height: auto;
  background: url("../assets/demos/dog.png") bottom right 15% no-repeat #48617F;
}

/* line 1, ../sass/_sidebar.scss */
.drawer {
  border-right: none;
}
/* line 4, ../sass/_sidebar.scss */
.drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}
/* line 8, ../sass/_sidebar.scss */
.drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}
/* line 13, ../sass/_sidebar.scss */
.drawer .mdl-layout-title {
  position: relative;
  background: #136a8a;
  height: 160px;
}
/* line 19, ../sass/_sidebar.scss */
.drawer .logo-image {
  position: absolute;
  bottom: 16px;
  width: 210px;
  height: 36px;
}

/* line 28, ../sass/_sidebar.scss */
.drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

/* line 1, ../sass/_posts.scss */
body::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

/* line 13, ../sass/_posts.scss */
body .demo-blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* line 17, ../sass/_posts.scss */
.demo-blog .demo-blog__posts {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

/* line 26, ../sass/_posts.scss */
.demo-blog.mdl-layout .mdl-layout__content {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

/* line 30, ../sass/_posts.scss */
.demo-blog .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 360px;
}

/* line 36, ../sass/_posts.scss */
.demo-blog .mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}

/* line 40, ../sass/_posts.scss */
.demo-blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: flex;
  background-color: #48617F;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}

/* line 51, ../sass/_posts.scss */
.demo-blog .mdl-card__media a,
.demo-blog .mdl-card__title a {
  color: inherit;
}

/* line 55, ../sass/_posts.scss */
.demo-blog .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

/* line 62, ../sass/_posts.scss */
.demo-blog .mdl-card__supporting-text strong {
  font-weight: 400;
}

/* line 65, ../sass/_posts.scss */
.demo-blog .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}

/* line 68, ../sass/_posts.scss */
.demo-blog .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}

/* line 72, ../sass/_posts.scss */
.demo-blog:not(.demo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 76, ../sass/_posts.scss */
.demo-blog .mdl-card__actions:first-child {
  margin-left: 0;
}

/* line 79, ../sass/_posts.scss */
.demo-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

/* line 88, ../sass/_posts.scss */
.demo-blog .meta > .meta__favorites {
  flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}

/* line 94, ../sass/_posts.scss */
.demo-blog .meta > .meta__favorites .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}

/* line 99, ../sass/_posts.scss */
.demo-blog .mdl-card .meta.meta--fill {
  justify-content: space-between;
}

/* line 102, ../sass/_posts.scss */
.demo-blog .meta > *:first-child {
  margin-right: 16px;
}

/* line 105, ../sass/_posts.scss */
.demo-blog .meta > * {
  display: flex;
  flex-direction: column;
}

/* line 109, ../sass/_posts.scss */
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.coffee-pic {
  order: 0;
}

/* line 112, ../sass/_posts.scss */
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.something-else {
  order: -1;
}

/* line 115, ../sass/_posts.scss */
.demo-blog .coffee-pic .mdl-card__media {
  background-image: url("images/coffee.jpg");
}

/* line 118, ../sass/_posts.scss */
.demo-blog .something-else .mdl-card__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 124, ../sass/_posts.scss */
.demo-blog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 130, ../sass/_posts.scss */
.demo-blog .something-else .mdl-card__media img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

/* line 135, ../sass/_posts.scss */
.demo-blog .something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* line 140, ../sass/_posts.scss */
.demo-blog .mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

/* line 145, ../sass/_posts.scss */
.demo-blog .mdl-card h3 {
  margin: 0;
}

/* line 148, ../sass/_posts.scss */
.demo-blog .mdl-card h3 a {
  text-decoration: none;
}

/* line 151, ../sass/_posts.scss */
.demo-blog .mdl-card h3.quote:before, .demo-blog .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}

/* line 156, ../sass/_posts.scss */
.demo-blog .mdl-card h3.quote:before {
  content: '“';
}

/* line 159, ../sass/_posts.scss */
.demo-blog .mdl-card h3.quote:after {
  content: '”';
}

/* line 162, ../sass/_posts.scss */
.demo-blog--blogpost .custom-header {
  background-color: transparent;
}

/* line 165, ../sass/_posts.scss */
.demo-blog--blogpost .demo-blog__posts > .mdl-card .mdl-card__media {
  background-color: #48617F;
  height: 280px;
}

/* line 169, ../sass/_posts.scss */
.demo-blog--blogpost .comments {
  background-color: #EEE;
}

/* line 172, ../sass/_posts.scss */
.demo-blog--blogpost .meta > * {
  align-items: center;
}

/* line 175, ../sass/_posts.scss */
.demo-blog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: flex;
  flex-direction: column;
}

/* line 180, ../sass/_posts.scss */
.demo-blog--blogpost .meta + .mdl-card__supporting-text p {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}

/* line 187, ../sass/_posts.scss */
.demo-blog--blogpost .demo-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}

/* line 194, ../sass/_posts.scss */
.demo-blog .section-spacer {
  flex-grow: 1;
}

/* line 197, ../sass/_posts.scss */
.demo-blog .something-else {
  overflow: visible;
  z-index: 10;
}

/* line 201, ../sass/_posts.scss */
.demo-blog .amazing .mdl-card__title {
  background-color: #263238;
}

/* line 204, ../sass/_posts.scss */
.demo-blog .minilogo {
  width: 44px;
  height: 44px;
  background-image: url("../../../assets/images/avatars/anon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 22px;
  background-color: #F5F5F5;
}

/* Fixes for IE 10 */
/* line 216, ../sass/_posts.scss */
.mdl-grid {
  display: flex !important;
}

/*
 * Change the layout__content class to Flex (instead of inline-block) to allow
 * spacer to work.
 */
/* line 5, ../sass/_footer.scss */
.mdl-layout__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* Contains formatting for edit on github pages.
 * Example taken from Facebook React. */
/* line 15, ../sass/_footer.scss */
.edit-page-link {
  float: right;
  font-size: 16px;
}

/* line 20, ../sass/_footer.scss */
.right {
  float: right;
  text-align: right;
}

/* line 25, ../sass/_footer.scss */
.sponsor-img {
  -webkit-transform: scale(0.5);
  /* Saf3.1+, Chrome */
  -moz-transform: scale(0.5);
  /* FF3.5+ */
  -ms-transform: scale(0.5);
  /* IE9 */
  -o-transform: scale(0.5);
  /* Opera 10.5+ */
  transform: scale(0.5);
  /* IE6–IE */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}

/* line 1, ../sass/_publications.scss */
.dated-entry {
  margin-bottom: 30px;
}

/* line 5, ../sass/_publications.scss */
.dated-entry .date {
  color: #989898;
  font-size: 85%;
  letter-spacing: 1px;
  float: left;
  width: 10px;
  margin: 0 auto 0 0;
  line-height: 15px;
}

/* line 15, ../sass/_publications.scss */
.dated-entry .dated-event {
  width: 90%;
  margin: 0 0 0 auto;
  padding-left: 15px;
  border-left: rgba(0, 0, 0, 0.12) 1px solid;
}
