/*
 * Replace these with background-image: url('../../../images/pic.png')
 * if you want a picture instead of a gradient in the header.
 */
/* Makes images with the img-circle class into a circle
 * Also adds a Material Design-esque shadow to each profile picture
 * Source: https://codepen.io/sdthornton/pen/wBZdXq
 */
/* line 5, ../sass/_people.scss */
.img-circle {
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Align text below an image
 * Source: http://stackoverflow.com/questions/22592064/how-to-align-text-below-an-image-in-css
 */
/* line 14, ../sass/_people.scss */
.person div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}
/* line 20, ../sass/_people.scss */
.person img {
  width: 100px;
  height: 100px;
}
/* line 24, ../sass/_people.scss */
.person .caption {
  display: block;
}
/* line 27, ../sass/_people.scss */
.person .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
/* line 33, ../sass/_people.scss */
.person .section__text a {
  text-decoration: none;
}

/* line 3, ../sass/_card.scss */
.mdl-grid {
  max-width: 600px;
}
/* line 5, ../sass/_card.scss */
.mdl-grid .mdl-card {
  padding-bottom: 50px;
}
/* line 7, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__media {
  margin: 0;
}
/* line 10, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__media > img {
  max-width: 100%;
}
/* line 13, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
/* line 20, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

/*
 * Change the layout__content class to Flex (instead of inline-block) to allow
 * spacer to work.
 */
/* line 5, ../sass/_footer.scss */
.mdl-layout__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
