/*
 * Replace these with background-image: url('../../../images/pic.png')
 * if you want a picture instead of a gradient in the header.
 */
/* Resizes logo to fit in the navbar */
/* line 7, ../sass/_main.scss */
.site-logo {
  width: 230px;
  height: 36px;
}

/* Adds a gradient to this */
/* line 13, ../sass/_main.scss */
.mdl-layout__header {
  /* fallback for old browsers */
  background: #136a8a;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #136a8a, #267871);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #136a8a, #267871);
}

/* line 23, ../sass/_main.scss */
.is-small-screen .mdl-layout-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 30, ../sass/_main.scss */
.spacer {
  flex-grow: 1;
}

/* Makes images with the img-circle class into a circle
 * Also adds a Material Design-esque shadow to each profile picture
 * Source: https://codepen.io/sdthornton/pen/wBZdXq
 */
/* line 5, ../sass/_people.scss */
.img-circle {
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Align text below an image
 * Source: http://stackoverflow.com/questions/22592064/how-to-align-text-below-an-image-in-css
 */
/* line 14, ../sass/_people.scss */
.person div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}
/* line 20, ../sass/_people.scss */
.person img {
  width: 100px;
  height: 100px;
}
/* line 24, ../sass/_people.scss */
.person .caption {
  display: block;
}
/* line 27, ../sass/_people.scss */
.person .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
/* line 33, ../sass/_people.scss */
.person .section__text a {
  text-decoration: none;
}

/* line 3, ../sass/_card.scss */
.mdl-grid {
  max-width: 600px;
}
/* line 5, ../sass/_card.scss */
.mdl-grid .mdl-card {
  padding-bottom: 50px;
}
/* line 7, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__media {
  margin: 0;
}
/* line 10, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__media > img {
  max-width: 100%;
}
/* line 13, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
/* line 20, ../sass/_card.scss */
.mdl-grid .mdl-card .mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

/* line 1, ../sass/_sidebar.scss */
.drawer {
  border-right: none;
}
/* line 4, ../sass/_sidebar.scss */
.drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}
/* line 8, ../sass/_sidebar.scss */
.drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}
/* line 13, ../sass/_sidebar.scss */
.drawer .mdl-layout-title {
  position: relative;
  background: #136a8a;
  height: 160px;
}
/* line 19, ../sass/_sidebar.scss */
.drawer .logo-image {
  position: absolute;
  bottom: 16px;
  width: 210px;
  height: 36px;
}

/* line 28, ../sass/_sidebar.scss */
.drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

/*
 * Change the layout__content class to Flex (instead of inline-block) to allow
 * spacer to work.
 */
/* line 5, ../sass/_footer.scss */
.mdl-layout__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
