<!DOCTYPE html>
<title>
{% if page.name contains "index" %}

{% comment %}
   We have this control flow logic to display project names in the browser tab effectively
   while allowing us to continue abbreviating the project markdown files (e.g., pfs.md).
   if we're in this if-statement, we're on the frontpage, and we don't
   prepend anything to the title.
{% endcomment %}

{% elsif page.name contains "." %}
   {{ page.title | append:" | "}}
{% elsif page.title %}
   {{ page.name | append:" | " }}
{% endif %} Systems Research Lab
</title>
<html amp lang="en">
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
      {% include header.html %}
      {% include drawer.html %}
      <main class="mdl-layout__content">
        <div class="page-content">
          {{ content }}
        </div>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
