<!DOCTYPE html>
<html amp lang="en">
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
      {% include header.html %}
      {% include drawer.html %}
      <main class="mdl-layout__content">
        <div class="page-content">
          {{ content }}
        </div>
        <!-- mdl-layout-spacer pushes the footer to the bottom -->
      </main>
      <div class="mdl-layout-spacer"></div>
      {% include footer.html %}
    </div>
  </body>
</html>
