<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="mdl-layout mdl-js-layout">
      {% include header.html %}
      {% include drawer.html %}

      <main class="mdl-layout__content">
        <div class="page-content">
        <a class="edit-page-link" href="https://github.com/systemslab/systemslab.github.io/edit/master/{{page.path}}" target="_blank"> Improve on Github</a>
          {{ content }} 

        </div>

        {% include footer.html %}
      </main>
    </div>
  </body>
</html>
