---
layout: default
---
<head>
<script src="/assets/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
   $('.contents').hide();

   $('a.toggle').click(function() {
      $(this).parent('').next('div.contents').slideToggle(450);
      return false;
   });
 });

</script>
</head>

<article class="post">
  <div class="post-content">
    
    {{ content }}
    
    {% assign folder = page.name | remove: ".md" | prepend: "_" %}
    <a class="view-page-link" href="https://github.com/systemslab/systemslab.github.io/tree/master/{{folder}}/" target="_blank"> View on Github</a>

  </div>

</article>
