---
layout: default
---
<head>
<style>

.circular-frame, .circular-frame img{
	width: 85px;
	height: 85px;
	-webkit-border-radius: 40px; /* Saf3+, Chrome */
	border-radius: 40px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */

	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

.contact {
	width: 8%;
	min-width: 150px;
	padding: 10px;
	border-bottom: solid 1px #D1D0CE;
	border-radius: 2px;
	float: left;
}


.text{
    text-align: left;
    
	width: 90%;
}
</style>
</head>

<article class="post">

  <div class="post-content">
   <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
    <h3> {{ page.title }} </h3>
	<div class="mdl-card__actions mdl-card--border"></div>
	

        <div class="contact">
    	{% if page.icon %}
	    <img class="img-small img-circle" src="{{ page.icon }}"></a>
	    {% endif %}
	   {% if page.email %}
	     <small>{{page.email}}</small>
	    {% endif %}<br>
	    {% if page.titles %}
	       {% for t in page.titles %}
	          <font size="2">{{t}}</font><br>
	       {% endfor %}
	    {% endif %}
	    </div>

	  <div class="text">
	    <h3> Overview </h3>
        {{ content }}
        </div>
    {% if page.interests %}
      <h3> Research Interests </h3>
       {% capture interests %}
        {% for interest in page.interests %}
          {{ interest }}, 
        {% endfor %}
       {% endcapture %}
       {{ interests | strip | append: '@' | remove: ',@' | capitalize | append: '.'}}
    {% endif %}

    <h3> Publications </h3>
    {% assign years = '2015|2014|2013|2012' | split: '|' %}
    {% assign name = page.name | split: ' ' %}
    {% assign lastname = name[1] %}
    
    {% for year_ in years %}
    {% assign year = year_ | plus: 0 %}
      <div class="dated-entry"> 
        <div class="date"> {{ year }} </div>
        <div class="dated-event">
        {% bibliography --query @*[author ~= {{ lastname }} && year={{year}}] %}<br>
        </div>
      </div>
    {% endfor %}
    </div>
    </div>
    
  </div>

</article>
