---
layout: post_parent
---
<div class="demo-blog__posts mdl-grid">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
      <h3>{{ page.title }}</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div class="minilogo"></div>
      <div>
        {% if page.author %}
          <strong>{{ page.author }}</strong>
        {% else %}
          <strong>SRL Team</strong>
        {% endif %}
        <span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
      </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <p>{{content}}</p>
    </div>
  </div>
</div>
