---
layout: page
---

<h4 align="center"> {{ page.name }} </h4>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect home">
  <div class="mdl-tabs__tab-bar">
    <a href="#overview-panel" class="mdl-tabs__tab is-active"> Project </a>
    <a href="#people-panel" class="mdl-tabs__tab"> People Involved </a>
    <a href="#ack-panel" class="mdl-tabs__tab"> Acknowledgments </a>
  </div>

  <div class="mdl-tabs__panel is-active" id="overview-panel">
    	{{ content }}
  </div>

  <div class="mdl-tabs__panel" id="people-panel">
     	<h4> Participants </h4>
        <ul>
        {% for person in page.participants %}
          {% assign exists = false %}
          {% for p in site.people %}
              {% if p.name == person %}
                  {% assign exists = true %}
                  {% assign link = p.permalink %}
              {% endif %}
          {% endfor %}
          {% if exists %}
               <li> <a href="{{ link }}">{{ person }}</a></li>
          {% else %}
              <li> {{ person }} </li>
          {% endif %}
          

     	 {% endfor %}
     	 </ul>
  </div>
  
   <div class="mdl-tabs__panel" id="ack-panel">
     {% if page.mentors %}
        <h4> Mentors </h4>
        <ul>
        {% for mentor in page.mentors %}
     	   <li>{{ mentor }}</li>
     	  {% endfor %}
     	 </ul>
     {% endif %}
     {% if page.sponsors %}
        <h4> Sponsors </h4>
        <ul>
        {% for sponsor in page.sponsors %}
     	   <li>{{ sponsor }}</li>
     	  {% endfor %}
     	</ul>
     {% endif %}
  </div>
</div>
