---
layout: page
---
<h4 align="center"> {{ page.name }} </h4>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect home">
  <div class="mdl-tabs__tab-bar">
    <a href="#overview-panel" class="mdl-tabs__tab is-active"> Project </a>
    <a href="#people-panel" class="mdl-tabs__tab"> People Involved </a>
    <a href="#ack-panel" class="mdl-tabs__tab"> Acknowledgments </a>
  </div>

  <div class="mdl-tabs__panel is-active" id="overview-panel">
    <div class="mdl-grid max-width">
      	<div class="mdl-layout-spacer"></div>
    	{{ content }}
    	<div class="mdl-layout-spacer"></div>
    </div>
  </div>

  <div class="mdl-tabs__panel" id="people-panel">
    <div class="mdl-grid max-width">
        <div class="mdl-layout-spacer"></div>
     	   <h4> Participants </h4><br>
        <ul>
        {% for person in page.participants %}
     	   <li>{{ person }}</li>
     	  {% endfor %}
     	 </ul>
        <div class="mdl-layout-spacer"></div>
    </div>
  </div>
  
   <div class="mdl-tabs__panel" id="ack-panel">
    <div class="mdl-grid max-width">
        <h4> Mentors </h4><br>
        <ul>
        {% for mentor in page.mentors %}
     	   <li>{{ mentor }}</li>
     	  {% endfor %}
     	 </ul>
        <h4> Sponsors </h4><br>
        <ul>
        {% for sponsor in page.sponsors %}
     	   <li>{{ sponsor }}</li>
     	  {% endfor %}
     	 </ul>
        
    </div>
  </div>
</div>
